<h1>Welcome</h1>
<div class="container">
  <% @questions.each do |q| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%=q.gravatar %>" alt="<%=q.answer %>">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%=q.email %></h4>
      <div>
        <%=time_ago_in_words q.created_at %>
      </div>
      <%=q.answer %>
      <div>
          <a href="<%=question_path(q) %>" class="btn btn-success btn-xs">
              Ver respostas
          </a>
      </div>
    </div>
  </div>
  <% end %>
</div>
